releve.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="releve" type="RELEVE_TYPE"></xsd:element>
    <xsd:complexType name="RELEVE_TYPE">
        <xsd:sequence>
            <xsd:element name="dateReleve" type="xsd:date"></xsd:element>
            <xsd:element name="solde" type="xsd:double"></xsd:element>
            <xsd:element name="operations" type="OPERATIONS_TYPE"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="RIB" type="xsd:string" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="OPERATIONS_TYPE">
        <xsd:sequence>
            <xsd:element name="operation"  maxOccurs="unbounded" type="OPERATION_TYPE"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="dateDebut" type="xsd:date" use="required"></xsd:attribute>
        <xsd:attribute name="dateFin" type="xsd:date" use="required"></xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="OPERATION_TYPE">
        <xsd:attribute name="type" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="date" type="xsd:date" use="required"></xsd:attribute>
        <xsd:attribute name="montant" type="xsd:double" use="required"></xsd:attribute>
        <xsd:attribute name="description" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>
</xsd:schema>
